version: '3.8'

services:
  geolocationapi:
    hostname: 'geolocationapi'
    build:
      context: ./GeoLocationAPI
    ports:
      - "5000:5000"
    depends_on:
      - aws-otel-collector
    restart: always
    
  aws-otel-collector:
    hostname: 'aws-otel-collector'
    build:
      context: ./aws-otel-collector
    command: ["--config=/etc/ecs/ecs-resource-detection.yaml", "--log-level=DEBUG"]
    environment:
      - AWS_REGION=us-east-1
      - AWS_PROFILE=default
    volumes:
      - ~/.aws:/root/.aws